.individualCards {
    background-color:#DECAD8;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;

}

.cardTitle {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cardImg {
    padding-top: 10%;
    padding-bottom: 10%;
    object-fit: contain;
    height: 250px;
}

.img {
    background-size: contain;
    height: 65%;
    width: 100%;
    background-repeat: no-repeat;
}

.cardFact {
    height: 60px;

}