.individualCards {
    background-color:#DECAD8;
    border-radius: 15px;
    border: 1px solid black;
    margin: 2.5%;

}

.cardTitle {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cardImg {
    padding-top: 5%;
    padding-bottom: 5%;
    object-fit: contain;
    height: 250px;
}

.img {
    background-size: contain;
    height: 65%;
    width: 100%;
    background-repeat: no-repeat;
}

.cardFact {
    height: 60px;

}