.footer {
  padding: 15px;
}

.footer form,
.footer .btn,
.footer input {
  display: block;
  margin: auto;
}

.footer input,
.footer .btn {
  border-radius: 15px;
  background-color: #DECAD8;
  outline: 0;
  border: 2px solid black;
}

.footer input {
  width: 50%;
  text-align: center;
}

.footer p {
  text-align: center;
  font-family: Open Sans;
  font-weight: bolder;
}

.footer .buttons {
  width: 25%;
  margin: auto;
}

.footer .random-image,
.footer .random-fact {
  display: inline-block;
  margin: auto;
}

.footer .btn {
  display: inline-block;
  color: black;
  font-weight: bolder;
  font-family: Open Sans;
  margin: auto 5px;
  outline: 0;
}

.footer .btn:focus {
  outline: 0;
}
